body{
  font-family: helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
}

.navbar{
  background-color: #00244d;
  width: 100%;
  margin: 0;
}

.navbar-brand{
  color: white;
  margin-left: 100px;
  font-family: monospace;
  font-size: 34px;
}

.nav-item{
  text-align: center;
}

h1, h3{
  text-align: center;
  margin: 10px;
  color: #00244d;
}

a{
  text-decoration: none;
  color: white;
}

p{
  font-size: 14px;
  font-family: cursive;
  font-style: italic;
}

img{
  width: 100%;
  height: 500px;
}

.container{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  height: auto;
}

.card{
  border: 2px solid #00244d;
  /*box-shadow: 3px 3px 3px 3px #00244d;*/
}

.card img{
  height: 200px;
}

.card-body{
  background-color: maroon;
}
.card-text{
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 26px;
}

.footer{
  color: white;
  background-color: #00244d;
  padding: 10px;
}

@media(max-width: 992px){
  .navbar-collapse, .navbar{
    width: 100%;
    background-color: maroon;
    color: white;
    margin: 0;
    
  }